numpy
opencv-python
scikit-learn
supervision
scipy
mediapipe
tensorflow
jax
jaxlib
opt_einsum
absl-py
flatbuffers
protobuf
Pygments
ml_dtypes
filelock
lap
defusedxml
pillow
pip
attrs
wheel
toolz
cffi
setuptools
gast
grpcio
h5py
pytz
rich
markdown-it-py
typing_extensions
torch
ultralytics-thop
requests
keras
PyYAML
exceptiongroup
sniffio
arrow
python-dateutil
libclang
MarkupSafe
Werkzeug
click
app
Jinja2
blinker
itsdangerous
optree
packaging
psutil
pandas
namex
matplotlib
mdurl
charset-normalizer
six
google-pasta
threadpoolctl
mpmath
sympy
ultralytics
astunparse
tensorboard
tqdm
torchvision
networkx
urllib3
fsspec
jsonschema
altair
argon2-cffi-bindings
joblib
certifi
py-cpuinfo
imageio
tifffile
seaborn
cycler
scikit-image
lazy_loader
Markdown
psycopg2-binary
idna
asttokens
colormath
contourpy
fonttools
sounddevice
sentencepiece
pycparser
pyparsing
termcolor
referencing
jsonschema-specifications
kiwisolver
wrapt
annotated-types
arabic-reshaper
Flask